CREATE DATABASE [CustomerService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CustomerService.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CustomerService_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [CustomerService]
GO
USE [CustomerService]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [CustomerService] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
